<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpoolsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolSystem">
        <activity
            android:name=".SignupScreen2Otp"
            android:exported="true" />
        <activity
            android:name=".SignupScreen2PhoneNumber"
            android:exported="true" />
        <activity
            android:name=".VehicleDetailsAdditionScreen"
            android:exported="true" />
        <activity
            android:name=".AddRideScreen"
            android:exported="true" />
        <activity
            android:name=".SignupScreen1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>