<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpoolsystem">

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />

        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CarPoolApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolSystem">
        <activity
            android:name=".screens.RequestStatus"
            android:exported="true" />
        <activity
            android:name=".screens.ManageRide"
            android:exported="true" />
        <activity
            android:name=".screens.WaitingActivity"
            android:exported="true" />
        <activity
            android:name=".screens.Animation"
            android:exported="true" />
        <activity
            android:name=".screens.PaymentIntegration"
            android:exported="true" />
        <activity
            android:name=".screens.MapActivity"
            android:exported="true" />
        <activity
            android:name=".screens.ViewCarDetails"
            android:exported="true" />
        <activity
            android:name=".screens.NewOtp"
            android:exported="true" />
        <activity
            android:name=".screens.AddNewPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".screens.DriversViewRequestScreen"
            android:exported="true" />
        <activity
            android:name=".screens.EmailIdEmpty"
            android:exported="true" />
        <activity
            android:name=".screens.SearchResults"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.DashboardPassenger"
            android:exported="true" />
        <activity
            android:name=".screens.Dashboard"
            android:exported="true" />
        <activity
            android:name=".screens.map.MapActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ChangeCarDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ChangePassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.NoResultsFound"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PassengersProfile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.DriversProfile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SignInScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.HomeScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SignupScreen2Otp"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.UsersScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.EntranceLayout"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SignupScreen2PhoneNumber"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.AddRideScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SignupScreen1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_0Fz5oipur0X9XI" />
    </application>

</manifest>